  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two01.png" alt="Party of 2" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full-Stack Engineer | Live Bingo | 2017</h3>
      <div class="well">
        <b>Project Summary</b><br>
        Live 1 person bingo game using socket.io. Make sure that you have two browser windows open for User and Admin screens...
        <p><strong>Used Libraries</strong></p>
      </div>
      <ul>
        <li>UI: React Bootstrap</li>
        <li>State Management: React Internal State & socket.io</li>
        <li>API Requests: axios</li>
        <li>API Backend: Node, Express</li>
        <li>UI Backend: webpack, babel</li>
        <li>API Routing: Express</li>
        <li>UI Routing: React Router</li>
        <li>API Model: View & Controller</li>
        <li>Eslint Rules: Airbnb</li>
        <li>Please run 1. npm install 2. npm run dev</li>
      </ul>

      <p <styl></style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>

        <img src="/assets/images/projects/logo-react.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-node.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-express.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-socket-io.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-bootstrap.png" style="width:80px;"/>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/pay-bingo-v2"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray">
          <video width="622" height="314" controls>
            <source src="/assets/images/projects/bingo.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>







    </div>
  </div>
  <!-- PROJECT ENDS HERE -->
